#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #262728;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 28px 28px 28px 28px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
}

.sidebar-responsive {
  display: inline;
  position: absolute;
  z-index: 12;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar-items > span {
  padding-left: 15px;
}

@media screen and (min-width: 1300px) {
  .navbar-items > span {
    visibility: visible;
    display: block;
  }

  .sidebar-brand > span {
    visibility: visible;
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .sidebar-brand > span {
    visibility: hidden;
    display: none;
  }

  .navbar-items > span {
    visibility: hidden;
    display: none;
  }

  #sidebar {
    width: 100px;
  }
}
