body{
  margin: 0;
  padding: 0;
  background-color: #101111;
  color: #9e9ea4;
  font-family: 'Montserrat',sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  'sidebar header header header'
  'sidebar main main main';
  height:120vh;
}








/* Main */

.main-container{
  grid-area: main;
  /* overflow-y: auto; */
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title{
  display: flex;
  justify-content: space-between;
}



@media screen and (max-width:1300px){
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-rows: 
    'header'
    'main';
  }
  #sidebar{
    display: none;
  }
  .menu-icon{
    display: inline;
  }
  .sidebar-title > span{
    display: inline;
  }
}

@media screen and (min-width:768px){
  .navCollapse {
    width: 80px;
  }
  .navCollapse .sidebar-list-item{
    display: none;
  }
  .navCollapse .sidebar-list{
    padding: 28px;
  }
}
/* //cards */
.main-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
  gap: 20px;
  margin: 15px 0;
  
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px 15px;
    border-radius: 5px;
    
}
.card:first-child{
  background-color: rgb(40, 46, 46);
  
}
.card:nth-child(2){
  background-color: rgb(40, 46, 46);
  
  
}
.card:nth-child(3){
  background-color: rgb(40, 46, 46);
}
.card:nth-child(4){
  background-color: rgb(40, 46, 46);
}
.profit{
  width: 236px;
}
.card:nth-child(5){
  background-color: rgb(40, 46, 46);
 
}
.card-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon{
font-size: 25px;

}

.card-footer{
 
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
}

.card-down-arrow {
  background-color: red;
  align-self: flex-end;
  border-radius: 10px;
 height: 17px;
}
/* //end card */