body {
  margin: 0;
  padding: 0;
  background-color: #101111;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
}

.main-container {
  grid-area: main;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > h3 {
  padding: 0 30px;
}

.card:first-child {
  background-color: rgb(40, 46, 46);
}
.card:nth-child(2) {
  background-color: rgb(40, 46, 46);
}
.card:nth-child(3) {
  background-color: rgb(40, 46, 46);
}
.card:nth-child(4) {
  background-color: rgb(40, 46, 46);
}
.profit {
  width: 236px;
}
.card:nth-child(5) {
  background-color: rgb(40, 46, 46);
}
.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "sidebar header header"
      "sidebar main main";
  }
}

@media screen and (max-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
      "sidebar header header"
      "sidebar main main";
  }
}
